@font-face {
  font-family: din;
  src:  url('assets/din.otf');
}



body, html
  line-height: 1
  font-family: 'din', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  // user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text


.clearfix:after, .layout:after
  content:"."
  display:block
  height:0
  clear:both
  visibility:hidden

.hide
  visibility: hidden;
  display: none\9 !important;
  filter: 'alpha(opacity = 0)';
  opacity: 0;
.hidden
   display: none;
.not-select
  user-select: none;
.tajt
  text-align: justify;
.ls12
  letter-spacing: 12px;
.ls7
  letter-spacing: 7px;
.nwrap
  white-space: nowrap !important;

.fl
  float: left;
.fr
  float: right;
.pr
  position: relative;
.po
  position: absolute;
.por
  position: absolute;
  top: 0;
  right: 0;
.pol
  position: absolute;
  top: 0;
  left : 0;
.pob
  position: absolute;
  bottom : 0;
  left : 0;
.pobr
  position: absolute;
  bottom : 0;
  right  : 0;
.pfb
  position: fixed;
  bottom : 0;
  left : 0;
.nr
  white-space: nowrap;
.wrap
  white-space: normal !important;
.f0
  font-size: 0;

.left
  text-align: left !important;

.right
  text-align: right !important;

.block
  display block !important;

.bl1
  border-left: 1px solid #ccc

.clear
  clear:both;

.baseline
  vertical-align: baseline !important;

.bold
  font-size: bold;

body
  font-size: 14px;
input[type='text'],select,textarea
  border: 0;
  box-shadow: 0;
  outline: 0;
  border-color: transparent;
input:focus
  outline: 0;

#app
  background-color: #ffffff;
.btn
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor pointer
i
  font-style: normal

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-size: 14px !important;
    color: #c2c2c2 !important;
    font-family: 'Microsoft YaHei';
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    font-size: 14px !important;
    color: #c2c2c2 !important;
    font-family: 'Microsoft YaHei';
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-size: 14px !important;
    color: #c2c2c2 !important;
    font-family: 'Microsoft YaHei';
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}

.ilt
 display: inline-block !important;
 vertical-align: top;

.ilb
 display: inline-block !important;
 vertical-align: baseline;

.ilm
 display: inline-block !important;
 vertical-align: middle !important;

.center
  text-align: center;
  margin: 0 auto;


.layout{
  width:80%; max-width:1460px; margin:0 auto; box-sizing:border-box;
}
