@font-face {
  font-family: din;
  src:  url('assets/din.otf');
}



body, html
  line-height: 1
  font-family: 'Microsoft YaHei', sans-serif, 'Droid Sans Fallback', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light',
  // user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  height: 100%;


.clearfix:after, .layout:after
  content:"."
  display:block
  height:0
  clear:both
  visibility:hidden

.hide
  visibility: hidden;
  display: none\9 !important;
  filter: 'alpha(opacity = 0)';
  opacity: 0;
.hidden
   display: none;
.not-select
  user-select: none;
.tajt
  text-align: justify;
.ls12
  letter-spacing: 12px;
.ls7
  letter-spacing: 7px;
.nwrap
  white-space: nowrap !important;

.fl
  float: left;
.fr
  float: right;
.pr
  position: relative;
.po
  position: absolute;
.por
  position: absolute;
  top: 0;
  right: 0;
.pol
  position: absolute;
  top: 0;
  left : 0;
.pob
  position: absolute;
  bottom : 0;
  left : 0;
.pobr
  position: absolute;
  bottom : 0;
  right  : 0;
.pfb
  position: fixed;
  bottom : 0;
  left : 0;
.nr
  white-space: nowrap;
.wrap
  white-space: normal !important;
.f0
  font-size: 0;

.left
  text-align: left !important;

.right
  text-align: right !important;

.block
  display block !important;

.bl1
  border-left: 1px solid #ccc

.clear
  clear:both;

.baseline
  vertical-align: baseline !important;

.bold
  font-size: bold;

body
  font-size: 14px;
input[type='text'],select,textarea
  border: 0;
  box-shadow: 0;
  outline: 0;
  border-color: transparent;
input:focus
  outline: 0;

#app
  background-color: #ffffff;
.btn
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor pointer
i
  font-style: normal

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-size: 14px !important;
    color: #c2c2c2 !important;
    font-family: 'Microsoft YaHei';
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    font-size: 14px !important;
    color: #c2c2c2 !important;
    font-family: 'Microsoft YaHei';
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-size: 14px !important;
    color: #c2c2c2 !important;
    font-family: 'Microsoft YaHei';
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}

.ilt
 display: inline-block !important;
 vertical-align: top;

.ilb
 display: inline-block !important;
 vertical-align: baseline;

.ilm
 display: inline-block !important;
 vertical-align: middle !important;

.disin
 display: inline-block !important;

.center
  text-align: center;
  margin: 0 auto;


.layout{
  width:90%; max-width:1460px; margin:0 auto; box-sizing:border-box;
}

@media (min-width: 768px) {
  #app {
    min-width: 1200px;
  }
}

.z10{
  z-index: 10
}

.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt15 {
  margin-top: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.abs
    position absolute; top 0; left 0; bottom 0; right 0; margin auto;
.full
    width 100%;
.mfull
   max-width 100%;
.hr
    h(20px); bg($border);

.size30
  calcmedia('sz', 30px, 16px)
.size24
  calcmedia('sz', 24px, 16px)
.size18
  calcmedia('sz', 18px, 14px)
.size14
  calcmedia('sz', 14px, 12px)

.bgfff
  background: #fff;
.bggray
  background: $border;

.fb
  font-weight: bold;

.white
  color: #fff

.p-tit{
    tc();
    calcmedia('sz', 30, 16);
    calcmedia('pt', 100px, 50px);
    calcmedia('mb', 30px, 24px);
    font-weight: bold;
}
.p-desc{
    calcmedia('w', 60%, 90%);
    calcmedia('sz', 16, 14);
    calcmedia('lh', 30px, 24px);
    m(0 auto);
    max-width:100%; tc();
}

.tc
  text-align: center;

.cp
  cursor: pointer;
.hid {
  overflow: hidden;
  img{
    width: 100%;
  }
  &:hover .scale{
    transcale(1.1);
  }

}
.scale{
  tranall();
  &:hover{
    transcale(1.1);
  }
}


.p10{ padding: 0 10px; }