.header-wrap{
    z-index: 200; background:#fff; position: fixed; width: 100%; top: 0;
    .ul-02{
        top: 100%; width: 400px; left: 0; position: absolute; z-index: 1; color:#fff;
        >li {
            float:left; margin-right: 40px; line-height: 70px; height:70px;

            &.active,&:hover{
                color: $blue;
            }
        }
    }

    .ul-03 {
        p(25px 0);
        >li{
            width: 160px; lhh(40px);
        }

    }

    .down-bg{
        background:rgba(34,34,34,0.4); color: #fff; width:100%; position: absolute; top: 100px; z-index:1;
        height: 0;
        &.moreRow{
            height: 300px;
        }
        &.oneRow{
            height: 70px;
        }
    }

}

$border = 1px dashed #666;

@media (max-width: 768px) {

    .header-wrap{
        height: $mHeaderHei;

        &.nav-open {
            .nav {
                height:100%; padding-top: $mHeaderHei;
                .ul-01{
                    display block;
                }
            }
            .m-top {
                border-bottom: $border;
            }
        }
        .log{
            width: 100px;
            .image-box{
                margin-top: 10px !important;
            }
        }
        .menu-icon {
            display: block;
        }
        .nav{
            position:absolute; height:0; position:fixed; height:0; width:100%;
            left:0; overflow:hidden; background: #333; color:#fff;
            .ul-01{
                padding: 0 10px; display none;
                >li {
                    display:block;  width: 100%;
                    margin: 0; position: relative;
                    >span {
                        line-height: 48px; border-bottom: $border; display:block;  width: 100%; display: block;
                    }
                    &::after{
                        content: ""; iconUrl('fff_right.png'); iconBg(); width: 14px; position: absolute; top: 16px; right: 2px; height: 14px;
                    }
                    &.open::after{
                        r(90);
                    }
                    >ul{
                        position: relative; padding-left: 20px;;
                        li {
                            lhh(36px); float: none; color:#aaa;
                         }
                    }
                    .ul-03{
                        padding-top: 0; padding-bottom: 0;
                    }
                }

            }
        }
        .m-top {
            height: $mHeaderHei;  position fixed; width 100%; top: 0; left:0;
        }
    }


}

@media (min-width: 769px) {
    .header-wrap{
        height: 100px;
        .menu-icon{
            display: none;
        }
        .nav{
            .ul-01>li{
                float:left; padding: 0 3px; margin:0 px2vw(20); line-height: 100px; cursor:pointer; color:#333;
                position: relative;
                &:before{
                    content: "";height:3px; width:0%; position:absolute; top:0;  background: $blue;
                    transition: all 0.3s ease; transform: translateX(-50%); left:50%;
                }
                &.active,&:hover{
                    span {
                        color: $blue;
                    }
                    &:before{
                        width: 100%;
                    }
                }
                &:nth-child(6){
                    .ul-02{
                        right: -56px; text-align: right; left: auto;
                    }
                }
            }
        }
    }

}

// .height-enter-active, .height-leave-active {
//    transition: transform .5s;
// }
// .height-enter-to, .height-leave {
//     transform: translateY(0);
// }
// .height-enter, .height-leave-to{
//     transform: translateY(-100%);
// }
