$mHeaderHei = 50px;

@media (max-width: 768px) {
    .layout{
        width: 100%; padding:0 10px;
    }
    
    .header-wrap{
        height: $mHeaderHei;
        .log{
            width: 100px;
            .image-box{
                margin-top: 15px !important;
            }
        }
        .icon {
            display: block;
        }
    }

    .nav{ 
        position:absolute; height:0; position:fixed; height:0; width:100%;
        padding-top: $mHeaderHei; left:0; overflow:hidden; 
        &.open{ 
            height:100%; 
        }
        .ul-01{
            padding: 0 10px;
            li {
                display:block; width: 100%; height: 30px; line-height: 30px; border-bottom: 1px solid #ccc;
                margin: 0 ;
            }
        }
     }
}
