@import "./reset.styl"
@import "./base.styl"
@import "./transition.styl"

#app
	padding-top 100px;

@media (max-width: 768px) {
.layout { width: 100%; padding: 0 $mGag; }
#app { padding-top: $mHeaderHei; }

#app .index-banner{
        height: calc(100vh - 130px)
        .tit {
            font-size: 20px;
        }
        .sub-tit {
            font-size: 16px;
        }
        .sub-desc {
            font-size: 14px; height: 30px; line-height: 30px;
        }
        .swiper-wrapper .swiper-slide video{
            height 100%; width auto;
        }
        .icons-group{
            width: 100%; margin: 20px auto;
            .list{
                w(50%);  t(left);
            }
        }
}

#app .product-page{
    .image-content {
        width: 100%; border-right: 0;
        .image-inner{
            width: 100%;
            .scale-img img{
                height: auto;
            }
            .thumb-img .item{
                p(0 5px);
                .img-w{
                    width: auto; height:auto; max-width: 100%;
                }
            }
        }
        .info-content{
            width: 100%; p(10px 0 0 0);
            .feature-con{

            }
        }
    }
    .info-content{
        width: 100%; p(20px 0 30px 0);
        .desc{
            line(4);
        }
    }
}

#app .introduce-page{
    .introduce-box {
        .intro-box1 {
            .img-w { height: auto; pr();  }
            .word-w { padding-left: 0; }
        }
    }
}

}








// @media (min-width: 769px)
