//按钮鼠标浮上去
$blue = #17a7da
$mGag = 10px;
$mHeaderHei = 60px;
$color-text = #333;

tra()
 transition: all 0.3s ease;

iconUrl(url) {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../assets/icones/' + url);
}

iconBg() {

}

r(num) {
    num = num * 1deg
    transform:rotate(num);
}

line1() {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

$baseHeight=1080;
$baseWidth=1920;

px2vh(px) {
    px/$baseHeight * 100vh ;
}
px2vw(px) {
    px/$baseWidth * 100vw ;
}

m(t) {
    margin: t;
}
p(t) {
    padding: t;
}
t(type) {
    text-align: type;
}
w(n) {
    width: n;
}
f(type) {
    float: type;
}
fz(size) {
    font-size: size;
}
lhh(number) {
    height: number; line-height: number;
}
lh(number) {
    line-height: number;
}
h(number) {
    height: number;
}

pr() {
    position: relative;
}
pb() {
    position: absolute;
}
pf() {
    position: fixed;
}
