//按钮鼠标浮上去
$blue = #17a7da
$mGag = 10px;
$mHeaderHei = 60px;
$color-text = #333;
$c51 = #515151;
$border = #eff1f4;
$eb = #ebebeb;
$c45 = #454545;

tra()
 transition: all 0.3s ease;

iconUrl(url) {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../assets/icones/' + url);
}

iconBg() {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

r(num) {
    num = num * 1deg
    transform:rotate(num);
}

line1() {
    display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
line(line) {
    text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box; -webkit-line-clamp: line; -webkit-box-orient: vertical;
}

$baseHeight=1080;
$baseWidth=1920;

px2vh(px) {
    px/$baseHeight * 100vh ;
}
px2vw(px) {
    px/$baseWidth * 100vw ;
}

m(t) {
    margin: t;
}
p(t) {
    padding: t;
}
t(type) {
    text-align: type;
}
w(n) {
    width: n;
}
f(type) {
    float: type;
}
fz(size) {
    font-size: size;
}
lhh(number) {
    height: number; line-height: number;
}
lh(number) {
    line-height: number;
}
h(number) {
    height: number;
}
pr() {
    position: relative;
}
pb() {
    position: absolute;
}
pf() {
    position: fixed;
}
bg(value) 
    background-color: value; 
c(value) { color: value }

tc() { text-align: center; }

flexcenter() {
    align-items: center; justify-content: center;
}

disin() { display: inline-block; }

computed(number, type)
    if type == 'h'
        number = px2vh(number)
    if type == 'w'
        number = px2vw(number)
    number * 1px

pl(number, type=false)
    padding-left computed(number, type);
pt(number, type=false)
    padding-top computed(number, type)
pbt(number, type=false)
    padding-bottom computed(number, type)
mt(number, type=false)
    margin-top computed(number, type);
ml(number, type=false)
    margin-left computed(number, type);
mb(number, type=false)
    margin-bottom computed(number, type);
mr(number, type=false)
    margin-right computed(number, type);
fzt(number, type=false)
    font-size computed(number, type);
lht(number, type=false)
    line-height computed(number, type);
ht(number, type = false)
    height computed(number, type);
wt(number, type = false)
    width computed(number, type);


// 媒体查询 方法
calcmedia(type, pc, mobile=false)
    @media (max-width: 768px) 
        if(mobile == false) 
            mobile = pc
        setMedia(type, mobile)
  
    @media (min-width: 769px) 
        setMedia(type, pc)

setMedia(type, value)
    
        if(type == "sz")
            font-size: value * 1px
        if(type == "pt")
            padding-top: value
        if(type == "pl")
            padding-left: value
        if(type == "mt")
            margin-top: value
        if(type == "mb")
            margin-bottom: value
        if(type == "m")
            margin: value
        if(type == "h")
            height: value
         if(type == "lh")
            line-height: value
        if(type == "p")
            padding: value
        if(type == "w")
            width: value
        if(type == "pr")
            position: value
        if(type == "t")
            top: value
        if(type == "ty")
            transform: translateY(value)
        if(type == "float")
            float: value
        if(type == "align")
            text-align: value
        


borderAni() 
    transition: all 0.3s ease; transform: translateX(-50%); left:50%; width: 0;

bgray() 
    border: 1px solid $border;

bbgray() 
    border-bottom: 1px solid $border;


tranall(number=false) 
    if(number==false)
        number = 1

    transition: all number*1s ease; cursor: pointer;

abs() 
    position absolute; top 0; left 0; bottom 0; right 0; margin auto;

transcale(number=false) 
    if(number==false)
        number = 1

    transform: scale(number)

size20() 
    calcmedia('sz', 20px, 14px)

size14() 
    calcmedia('sz', 14px, 12px)

fb() 
    font-weight: bold;

z(number)
    z-index: number