.slower
  transition-duration: 3s
.faster
  transition-duration: 1s
.very-faster
  transition-duration: 0.5s

.ani-hei
  transition: height .5s ease

.tra
  transition: all .5s ease

.r90
  transform: rotate(90deg)
.r180
  transform: rotate(180deg)
.r270
  transform: rotate(270deg)

.ani-top
  tra(); cp();

.ani-top:hover
  transform : translateY(-10px)
